<h1>App Piano</h1>
<div class="column">
  <div class="col-lg-4"></div>
<div class="list-group list-group-horizontal">
  <a (click)="aplicarSonido(1)" href="#" class="list-group-item list-group-item-action " style="background-color: red;"></a>
  <a (click)="aplicarSonido(2)" href="#" class="list-group-item list-group-item-action " style="background-color: orange;"></a>
  <a (click)="aplicarSonido(3)" href="#" class="list-group-item list-group-item-action " style="background-color: yellow;"></a>
  <a (click)="aplicarSonido(4)" href="#" class="list-group-item list-group-item-action " style="background-color: green;"></a>
  <a (click)="aplicarSonido(5)" href="#" class="list-group-item list-group-item-action " style="background-color: blue;"></a>
  <a (click)="aplicarSonido(6)" href="#" class="list-group-item list-group-item-action " style="background-color: indigo;"></a>
  <a (click)="aplicarSonido(7)" href="#" class="list-group-item list-group-item-action " style="background-color: violet;"></a>
</div>

</div>

<!--<audio controls autoplay>
  <source src="../assets/sounds/note.wav" type="audio/wav">
  
</audio> -->
 
